{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Admin.Design.Feature" %}

{% block content %}
  {# Include CSS file #}
  <link rel="stylesheet" href="{{ asset('../modules/healthyinfocheckout/views/dist/config.css') }}">
  <div id="healthyInfo_admin" class="col-lg-offset-1 col-lg-10 container">
    {{ include('@Modules/healthyinfocheckout/views/templates/admin/banner.html.twig') }}
    <div id="healthyInfo-content-home" class="panel">
      <div class="row">
        {{ include('@Modules/healthyinfocheckout/views/templates/admin/menu.html.twig', { partial: 'home' }) }}
        <div class="col col-12 healthyInfo-content-col text-center">
          <div class="panel">
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Customer</th>
                <th>Has Insurance</th>
                <th>Has Prescription</th>
                <th>Extra note</th>
                <th>Create At</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              {% for item in items %}
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.customer }} / {{ item.email }}</td>
                  <td>{% if item.has_insurance == 1 %}Yes{% else %}No{% endif %}</td>
                  <td>{% if item.has_prescription == 1 %}Yes{% else %}No{% endif %}</td>
                  <td>{{ item.extra_note is empty ? 'NaN' : item.extra_note }}</td>
                  <td>{{ item.created_at|date('Y-m-d H:i:s') }}</td>
                  <td>
                    <a href="{{ path('admin_healthinfo_list_update_form', {'id': item.id}) }}" class="btn btn-primary">Update</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}
